body {
  margin: 0;
}
header {
  background-color: rgb(215, 220, 224);
  top: 0;
  position: fixed;
  height: 11%;
  width: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
  list-style: none;
}
nav > ul > li {
  font-size: 20px;
  padding-left: 20px;
}

.main-body {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
aside {
  background-color: rgb(212, 207, 207);
  height: 90%;
  width: 15%;
  margin-left: 0;
  padding-left: 0;
}
.aside-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.aside-items > p {
  text-align: center;
}

.aside-items ul {
  list-style-type: disc;
  align-self: flex-start;
}

main {
  background-color: white;
  height: 90%;
  width: 85%;
}
.videos-portion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: rgb(24, 23, 22);
  color: white;
  text-align: center;
  padding: 5px;
  margin-bottom: 0%;
  width: 100%;
}
