body {
  margin: 0;
  background-color: rgb(225, 225, 236);
}
header {
  background-color: rgb(6, 21, 107);
  top: 0;
  position: fixed;
  max-height: 10vh;
  width: 100vw;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 4px;
}
nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
  list-style: none;
}
nav > ul > li {
  font-size: 20px;
  padding-left: 20px;
  text-decoration: underline;
}

.main-body {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
aside {
  background-color: rgb(255, 255, 255);
  min-height: 90vh;
  width: 15vw;
  margin-left: 0;
  padding-left: 0;
  margin: 3px;
}
.aside-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.aside-items > p {
  text-align: center;
}

.aside-items ul {
  align-self: flex-start;
}
.aside-items li {
  list-style-type: '>';
  padding: 5px;
}
img {
  border-radius: 50%;
  border-style: outset;
}

main {
  min-height: 80vh;
  width: 85vw;
}
main > h1 {
  background-color: aliceblue;
  box-shadow: 1px 1px 10px rgb(170, 186, 220);
  color: rgb(7, 7, 60);
  text-align: center;
  text-shadow: 0.5px 0.5px 5px rgb(147, 147, 157);
  padding: 10px;
}
h3 {
  color: rgb(6, 21, 107);
}
.videos-portion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid white;
  box-shadow: 1px 1px 10px rgb(72, 67, 147);

  margin: 3px;
}

footer {
  height: 10vh;
  width: 100vw;
  background-color: rgb(24, 23, 22);
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
